 body {
        margin: 0;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #eee;
        font-family: Arial, sans-serif;
      }

      .weather-card {
        width: 900px;
        min-height: 420px;
        padding: 45px 55px;
        display: flex;
        justify-content: space-between;
        color: white;

        background: linear-gradient(135deg, #1b55c9, #24006d);
        border-radius: 4px;
        box-sizing: border-box;
      }

      .date {
        font-size: 48px;
        margin-bottom: 25px;
      }

      .meta {
        display: flex;
        gap: 35px;
        font-size: 30px;
        margin-bottom: 45px;
      }

      .time {
        font-size: 110px;
        line-height: 1;
        margin-bottom: 35px;
      }

      .time span {
        font-size: 55px;
        margin-left: 20px;
      }

      .details p {
        font-size: 36px;
        margin: 16px 0;
      }

      .right {
        text-align: center;
        min-width: 330px;
      }

      .icon {
        font-size: 120px;
        margin-bottom: 20px;
      }

      .temp {
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 25px;
      }

      .feels {
        font-size: 34px;
        margin-bottom: 15px;
      }

      .condition {
        font-size: 38px;
        font-weight: bold;
        margin-bottom: 55px;
      }

      .updated {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;

        margin-top: 40px;
        font-size: 24px;
        color: #fff;
      }

      #updated {
        font-weight: 500;
      }

      #refresh {
        width: 42px;
        height: 42px;

        border: none;
        border-radius: 50%;

        background: transparent;
        color: white;

        font-size: 22px;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: 0.25s;
      }

      #refresh:hover {
        background: transparent;
        transform: rotate(180deg);
      }

      #refresh:active {
        transform: scale(0.95) rotate(180deg);
      }