* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #2f2f2f;
}

.container {
    max-width: 1100px;
    margin: 40px auto;
    background: white;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
}

h1,
h2,
h3 {
    margin-bottom: 30px;
    color: rgb(94, 90, 90);
}

.emoji-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
    margin-top: 60px;
}

.emoji-card {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.emoji {
    font-size: 64px;
    transition: transform .2s;
}

.emoji:hover {
    transform: scale(1.15);
}

.votes {
    font-size: 28px;
    font-weight: bold;
}

#resultBtn {
    padding: 15px 40px;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    background: #4CAF50;
    color: white;
    cursor: pointer;
    margin-bottom: 50px;
}

#resultBtn:hover {
    background: #3f9844;
}

#clearBtn {
    background: #dc3545;
     padding: 15px 40px;
    font-size: 20px;
    border: none;
    border-radius: 30px;

    color: white;
    cursor: pointer;
    margin-bottom: 50px;
}

#clearBtn:hover {
    background: #bb2d3b;
}

.result {
    margin-top: 30px;
}

.winner-emoji {
    font-size: 90px;
    margin: 25px 0;
}

.result p {
    font-size: 28px;
    font-weight: bold;
    margin-top: 40px;
}





